Repository Aknilan/openplace: changes, and which lint-staged commands are due for each by the changed paths.
All: npm exec -- eslint --fix, npm exec -- prisma format

split logging in and registering
  frontend2/app/pages/login/register.vue
  frontend2/app/pages/login/reset.vue
  src/routes/auth.ts
Due: npm exec -- eslint --fix

Fix login from and returning to beta frontend
  frontend2/app/composables/useUserProfile.ts
  frontend2/app/layouts/auth.vue
Due: none

Fix logout path
  frontend2/app/composables/useUserProfile.ts
Due: none

Fix fetching /checkrobots
  frontend2/app/pages/login/rules.vue
Due: none

Do a full page load of /login for the captcha wall
  frontend2/app/composables/useUserProfile.ts
Due: none

Fix returning to homepage
  frontend2/app/layouts/auth.vue
  frontend2/app/pages/login/discord.vue
Due: none

Move rules to a shared component
  frontend2/app/components/AboutDialog.vue
  frontend2/app/components/Rules.vue
  frontend2/app/layouts/auth.vue
  frontend2/app/pages/login/rules.vue
  frontend2/eslint.config.js
Due: none

Add political griefing and VPN rules
  .env.example
  frontend2/app/components/Rules.vue
  src/routes/checkrobots.ts
Due: npm exec -- eslint --fix

Fix loading rules when isVisible is true on mount
  frontend2/app/components/Rules.vue
Due: none

Nicer layout for rules list
  frontend2/app/components/Rules.vue
Due: none

give pixel paint date in api response
  src/services/pixel.ts
Due: npm exec -- eslint --fix

add datestamps to beta frontend, with moment.js
  frontend2/app/components/PixelInfo.vue
  frontend2/package-lock.json
  frontend2/package.json
Due: none

move it so the verified is next to the user
  frontend2/app/components/PixelInfo.vue
Due: none

add pxl timestamps for suspended accounts
  src/services/pixel.ts
Due: npm exec -- eslint --fix

Detect Cloudflare captcha wall and redirect so user can solve it
  frontend2/app/plugins/challenge-check.ts
  src/index.ts
  src/routes/challenge.ts
Due: npm exec -- eslint --fix

Different about dialog text for the official instance
  frontend2/app/components/AboutDialog.vue
Due: none

When hitting login when already logged in, immediately redirect
  frontend2/app/pages/login/index.vue
  frontend2/app/pages/login/register.vue
Due: none

Tidy up
  frontend2/app/components/AboutDialog.vue
  frontend2/app/plugins/challenge-check.ts
Due: none

Fix login path checking logic and include search params
  frontend2/app/composables/useUserProfile.ts
Due: none

Tidy up map buttons
  frontend2/app/components/App.vue
  frontend2/app/components/map/MapButton.vue
Due: none

Sort region search by population
  prisma/migrations/20251213114955_region_population/migration.sql
  prisma/schema.prisma
  scripts/setup.ts
  src/services/region.ts
Due: npm exec -- eslint --fix, npm exec -- prisma format

Add set of random default cities
  frontend2/app/components/App.vue
Due: none

Organise palette events, save last color, reset eraser on close
  frontend2/app/components/App.vue
  frontend2/app/components/ColorPalette.vue
Due: none

Pause tile updates when the user is idle
  frontend2/app/components/Map.vue
Due: none

Tidy up some maplibre stuff
  frontend2/app/components/Map.vue
Due: none

Ignore AbortError when updating tile source
  frontend2/app/components/Map.vue
Due: none

Implement store dialog
  frontend2/app/components/App.vue
  frontend2/app/components/StoreDialog.vue
  frontend2/app/components/icons/Charge.vue
  frontend2/app/components/icons/Droplet.vue
  frontend2/app/components/icons/Store.vue
  frontend2/app/components/store/BuyButton.vue
  frontend2/app/components/store/StoreItem.vue
  src/utils/bitmap.ts
Due: npm exec -- eslint --fix

Make frontend2 fetch handlers more specific
  src/index.ts
Due: npm exec -- eslint --fix

Enable closing dialogs by clicking modal mask
  frontend2/app/components/AboutDialog.vue
  frontend2/app/components/NotificationDetailDialog.vue
  frontend2/app/components/NotificationDialog.vue
  frontend2/app/components/StoreDialog.vue
Due: none

Redesigned pixel info popup
  frontend2/app/assets/common.scss
  frontend2/app/components/App.vue
  frontend2/app/components/PixelInfo.vue
  frontend2/app/components/UserAvatar.vue
  frontend2/app/components/UserLine.vue
  frontend2/app/components/UserMenu.vue
  frontend2/app/components/icons/Grid.vue
Due: none

Turns out SelectButton is a thing
  frontend2/app/components/UserMenu.vue
Due: none

Add flags to Caddyfile
  Caddyfile
Due: none

Handle unmounting useTheme
  frontend2/app/composables/useTheme.ts
Due: none

Fix moderator pixel area isting
  src/routes/moderator.ts
Due: npm exec -- eslint --fix

Tidy up user profile stuff
  frontend2/app/components/App.vue
  frontend2/app/components/PixelInfo.vue
  frontend2/app/components/StoreDialog.vue
  frontend2/app/components/UserAvatar.vue
  frontend2/app/components/UserLine.vue
  frontend2/app/components/UserMenu.vue
Due: none

Color palette expand/collapse, top/bottom, purchase colors
  frontend2/app/components/App.vue
  frontend2/app/components/ColorPalette.vue
  frontend2/app/components/PaintButton.vue
  frontend2/app/components/StoreDialog.vue
  frontend2/app/components/icons/ArrowDown.vue
  frontend2/app/components/icons/ArrowUp.vue
  frontend2/app/components/icons/Lock.vue
  frontend2/app/components/icons/Palette.vue
  frontend2/app/composables/useViewport.ts
  frontend2/app/utils/palette.ts
Due: none

Remove obsolete route
  src/routes/discord.ts
Due: npm exec -- eslint --fix

Add leaderboard
  frontend2/app/components/App.vue
  frontend2/app/components/FlagIcon.vue
  frontend2/app/components/LeaderboardDialog.vue
  frontend2/app/components/PixelInfo.vue
  frontend2/app/components/UserAvatar.vue
  frontend2/app/components/UserLine.vue
  frontend2/app/components/icons/StatsIcon.vue
Due: none

Path conditions:
  npm exec -- eslint --fix: any of: {src,scripts}/**/*.{js,ts,jsx,tsx}
  npm exec -- prisma format: any of: *.prisma
